.fleet{
    padding-bottom: 180px;
}

.fleet__title{
    font-weight: 700;
        font-size: 64px;
        line-height: 175%;
        color: $fleet-title;
        text-align: center;
        margin-bottom: 24px;

}
.fleet__text{
    font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: $fleet-text;
        text-align: center;
        margin-bottom:103px;
}
.gallary__items-image{
    text-align: center;
}

.gallary__items{
    padding: 30px 0px 70px 0px;
}

.gallary__items-image img{
   max-width: 100%;
}

.gallary__items .gallary__next::after,.gallary__items .gallary__items .gallary__prev::after{
    color: black;
    font-size: 80px;
}