.hero{
    position: relative;
    padding-bottom:  150px;
   
}
.hero__container{
    display: flex;
}

.hero__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__discription{
   
}
.hero__title{
    font-weight: 700;
    font-size: 78px;
    line-height: 1.20;
    color: $title-color;
    margin-bottom: 35px;
    @media (max-width:789.99px){
        font-size: 40px;
        line-height: 1.20;
        margin-bottom: 20px;
    }
   
}

.title-blue{
    color: #2F80ED;
}
.hero__text{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: $title-text;
    margin-bottom: 83px;
  
}

.hero__img{
    position: absolute;
    right: 0;
    bottom: -100px;
    width: auto;
    height: auto;
    z-index: -1;
    @media (max-width: 1487.99px) {
        display: none;
    

    }
    
}
.hero__img img{
    overflow: hidden;
}

.hero__discription{
    max-width: 51%;
}
.hero__btn{
    
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #FFFFFF;
    background: #0E1035;
    border-radius: 31.544px;
    padding: 32px 68px;
    transition: background 0.3s ease-in-out;
&:hover{
    background: $navbtn-colorhover;

}
@media (max-width: 789.99px) {
    font-size: 24px;
    line-height: 140%;
    padding: 24px 48px;
}
}


