$navtext-color: #333333;
$navtext-colorhover: #2F80ED;
$navbtn-color: #0E1035;
$navbtn-colorhover: #2F80ED;
$brgmenu-background:  #0E1035;
$brgmenu-textcolor: #FFFFFF;
$brgmenu-submiteBtn: #2F80ED;
$close-icon-color: #FFFFFF;
$close-icon-colorhover: #2F80ED;
$modal-background: #D9D9D9;
$title-color: #0E1035;
$title-text: #676767;
$customers-background: #0E1035;
$customers-text: #FFFFFF;
$service-title: #FFFFFF;
$service-text: #BDBBBB;
$service-linkhover: #2F80ED;
$safety-title: #0E1035;
$safety-text: #676767;
$safety-link: #0E1035;
$safety-linkhover: #2F80ED;
$fleet-title:#0E1035;
$fleet-text: #676767;
$aboutus-title: #232323;
$aboutus-item: #FFFFFF;
$aboutus-item-title: #232323;
$aboutus-item-text: #0E1035;
$aboutus-item-texthover: #9C9C9C;
$aboutus-item-position: #9C9C9C;
$contactus-btn-color:#FFFFFF;