$navtext-color: #333333;
$navtext-colorhover: #2F80ED;
$navbtn-color: #0E1035;
$navbtn-colorhover: #2F80ED;
$brgmenu-background:  #0E1035;
$brgmenu-textcolor: #FFFFFF;
$brgmenu-submiteBtn: #2F80ED;
$close-icon-color: #FFFFFF;
$close-icon-colorhover: #2F80ED;
