[class*="__container"] {
    max-width: 1728px;
    margin: 0 auto;
    padding: 0px 120px;
    @media (max-width: 896px) {
        padding: 0px 60px;
    }
    @media (max-width: 768px) {
        padding: 0px 40px;
    }
}